@using Microsoft.IdentityModel.Tokens
@model PASSIFY.Models.Activity

@{
    ViewData["Title"] = "Details";
    var imgWidth = 30;
    //Used to ignore certain fields from displaying in the details view.
    var ignore = new List<string> { "ActivityId", "FormFile", "ImageName", "OrganizerId", "CategoryId" };
}

<div>
    <h4>Activity details</h4>
    <hr/>
    <div class="container">
        <div class="d-flex justify-content-evenly w-75">


            <dl class="container row">
                @foreach (var item in Model.GetType().GetProperties())
                {
                    // Doesn't display the ID, filename, or organizer ID.'
                    @if (!ignore.Contains(item.Name))
                    {
                        <dt class="w-25">
                            @Html.DisplayName(item.Name)
                        </dt>
                        <dd class="w-75">
                            @* Switch statement to accout for Navigation objects *@
                            @switch (item.Name)
                            {
                                case "Organizer":
                                    @Html.Display($"{item.Name}.Name")
                                    break;
                                case "Category":
                                    @Html.Display($"{item.Name}.Title")
                                    break;
                                case "Title":
                                    @Html.DisplayFor(model => model.Title)
                                    break;
                                case "Purchases":
                                    <a asp-action="ActivityPurchases" asp-route-id="@Model.ActivityId"
                                       asp-controller="Activities">@Html.DisplayFor(model => model.Purchases!.Count)</a>
                                    break;
                                default:
                                    @Html.Display(item.Name)
                                    break;
                            }

                        </dd>
                    }
                }
            </dl>

            <!-- Activity Image-->
            @* <img src="@Url.Content("/photos/" + Model.Filename)" alt="@Model.Title" /> *@

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Activity Image</h5>
                    </div>
                    <div class="card-body text-center">
                        @if (string.IsNullOrWhiteSpace(Model.ImageName))
                        {
                            <img src="@Url.Content("~/assets/photos/placeholder.jpg")" alt="@Model?.Title"
                                 class="img-fluid rounded"
                                 style="max-height: 400px; object-fit: cover;">
                        }
                        else
                        {
                            <img src="@Url.Content(Model.ImageName)" alt="@Model.Title" 
                                 class="img-fluid rounded"
                                 style="max-height: 400px; object-fit: cover;">
                        }
                    </div>
                </div>
            </div>

        </div>

        <div class="w-25 d-flex justify-content-sm-between align-items-center">
            <a asp-action="Edit" asp-route-id="@Model?.ActivityId">

                <img src="/assets/svg/edit.svg"
                     width=@string.Concat(imgWidth, "px")/>
            </a>

            <a asp-action="Delete" asp-route-id="@Model?.ActivityId">

                <img src="~/assets/svg/delete.svg"
                     width=@string.Concat(imgWidth + 20, "px")
                     alt="Delete">
            </a>

            <a asp-controller="Extra" asp-action="LastPage">

                <img src="~/assets/svg/back.svg"
                     width=@string.Concat(imgWidth + 20, "px")
                     alt="Back">
            </a>
        </div>
    </div>


</div>

