@* HOMEPAGE INDEX *@
@model IEnumerable<PASSIFY.Models.Activity>

@{
    ViewData["Title"] = "Home Page";
    var imgWidth = "15px";
}
<link rel="stylesheet" href="~/css/scratch_styles.css" asp-append-version="true"/>


<div class="text-center">
    <h1 class="display-4">Welcome <span class="text-secondary">@User.Identity.Name</span> to your Passify Dashboard</h1>
</div>

<section class="d-flex justify-content-end">
    <div class="d-flex justify-content-between">
        <a asp-controller="Activities" asp-action="Create" class="m-2"><img src="assets/svg/event.svg" width="40px" alt="Add Event Icon"></a>
        <a asp-controller="Categories" asp-action="Create" class="m-2"><img src="assets/svg/cat_tag.svg" width="40px" alt="Add Category Icon"/></a>
        <a asp-controller="Organizers" asp-action="Create" class="m-2"><img src="assets/svg/organizer.svg" width="40px" alt="Add Organizer Icon"/></a>
    </div>
</section>

<section>
    <div class="table2">

        <div class="table-header fw-bold">
            <div class="table-row">
                <div class="table-head">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="table-head">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="table-head">
                    @Html.DisplayNameFor(model => model.EventStart)
                </div>
                <div class="table-head">
                    @Html.DisplayNameFor(model => model.EventEnd)
                </div>
                <div class="table-head">
                    @Html.DisplayNameFor(model => model.Created)
                </div>

                <div class="table-head">
                    @Html.DisplayNameFor(model => model.Organizer)
                </div>

                @* <div class="table-head"></div> *@

            </div>
        </div>

        <div class="table-body">
            @foreach (var item in Model)
            {
                <div class="table-row" data-title="@item.Title" data-id="@item.ActivityId">
                    <div class="table-cell">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="table-cell">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div class="table-cell">
                        @Html.DisplayFor(modelItem => item.EventStart)
                    </div>
                    <div class="table-cell">
                        @Html.DisplayFor(modelItem => item.EventEnd)
                    </div>
                    <div class="table-cell">
                        @Html.DisplayFor(modelItem => item.Created)
                    </div>
                    <div class="table-cell">
                        @Html.DisplayFor(modelItem => item.Organizer.Name)
                    </div>


                    @* <div class="table-cell"> *@
                    @*     <div class="d-flex flex-row justify-content-between actions"> *@
                    @* *@
                    @*         <a asp-controller="Activities" asp-action="Edit" asp-route-id="@item.ActivityId" aria-description="Edit"> *@
                    @*             <img src="assets/svg/edit.svg" width=@imgWidth/> *@
                    @*         </a> *@
                    @* *@
                    @*         <a  asp-controller="Activities" asp-action="Details" asp-route-id="@item.ActivityId"> *@
                    @*             <img src="assets/svg/details.svg" width=@imgWidth/> *@
                    @*         </a> *@
                    @*         <a asp-controller="Activities" asp-action="Delete" asp-route-id="@item.ActivityId"> *@
                    @*             <img src="assets/svg/delete.svg" width=@imgWidth/> *@
                    @*         </a> *@
                    @*     </div> *@
                    @* *@
                    @* </div> *@

                </div>
            }
        </div>
    </div>

</section>