@model IEnumerable<PASSIFY.Models.Category>

@{
    ViewData["Title"] = "Index";
    var imgWidth = "15px";
    
}

<h1>Categories Database</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped w-25">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <div class="d-flex flex-row justify-content-between">
                <a asp-action="Edit" asp-route-id="@item.CategoryId"><img src="assets/svg/edit.svg" width=@imgWidth/></a> 
                <a asp-action="Details" asp-route-id="@item.CategoryId"><img src="assets/svg/details.svg" width="@imgWidth"> </a> 
                <a asp-action="Delete" asp-route-id="@item.CategoryId"><img src="assets/svg/delete.svg" alt="" width="@imgWidth"></a>

                </div>

            </td>
        </tr>
}
    </tbody>
</table>
